{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- CSS styles -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.4.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<style>
    /* Typography */
    .montant-ht-cell {
    width: 100px; /* Adjust the width as needed */
                  }
    @media print {
        .small-table {
    width: 100%; /* Ensure table fills the container */
    font-size: 18px; /* Adjust font size as needed */
    background-color: #fff; /* White background */
    border: 2px solid #1b1b1b; /* Lighter border */
    color: #333; /* Darker text color */
}

.small-table th,
.small-table td {
    padding: 8px; /* Adjust padding as needed */
    border: 1px solid #ddd; /* Lighter border */
    font-size: 16px; /* Adjust font size as needed */
}
        .invoice-footer {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transform: none;
            width: auto;
        }
    /* Set page size to A4 */
    @page {
        size: A4;
        margin: 0; /* Reset default margins */
    }

    /* Adjust body and heading font sizes */
    body {
        font-size: 20px; /* Adjust to desired font size */
        color: #131313 !important; /* Change to desired color */
        margin: 0; /* Reset default margin */
    }

    h4 {
        font-size: 30px; /* Adjust to desired font size */
        color: #0b519c !important; /* Change to desired color */
        

    }
    .invoice-details p {
        color: #333 !important; /* Change to desired color */
    }
       /* Adjust layout for address and recipient information */
       .invoice-details .row {
        display: flex; /* Use flexbox layout */
        flex-wrap: wrap; /* Allow wrapping of flex items */
    }

    .invoice-details .col-md-6 {
        width: 50%; /* Each column takes up 50% of the row width */
    }

    /* Adjust padding and margin for elements as needed */
       /* Ensure the HTML and body elements fill the entire viewport */
       html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .invoice-container {
        border: 1px solid #ffffff;
        border-radius: 10px;
        background-color: #fff; /* White background */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        width: 25cm; /* Width of A4 page */
        height: 35cm; /* Height of A4 page */
        margin: 0; /* Remove all margins */

    }

    
    /* Increase table font size and adjust column width */
    .table {
        font-size: 18px; /* Adjust to desired font size */
        width: 100%; /* Ensure the table fills the container */
    }
    .table td {
    font-weight: normal;
     }

    /* Black border for table */
    .table-bordered,
    .table-bordered thead th,
    .table-bordered tbody td {
        border: 2px solid #3b3b3b !important; /* Change to black color */
        color : #000 !important; /* Black text color */
         
    }
    .invoice-footer{
        font-size: 100px;
        width: 100%;
        font-size: 18px !important;
    }
    .montant-ht-cell {
    width: 150px;
                  }
}

    body {
        font-family: 'Arial', sans-serif;
        color: #333; /* Darker text color */
        background-color: #f9f9f9; /* Light background */
    }
    h4 {
        font-family: 'Arial', sans-serif;
        color: #0b519c; /* Blue header */
    }

    /* Invoice Container */
    .invoice-container {
        border: 1px solid #ddd;
        border-radius: 10px;
        background-color: #fff; /* White background */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 30px;
        margin-top: 20px;
    }

    /* Header */
    .invoice-header {
        background-color: #fff; /* White background */
        color: #0b519c; /* Blue header */
        padding: 15px;
        border-radius: 10px 10px 0 0;
    }

    /* Logo */
    .invoice-logo {
        width: 100px;
        height: auto;
        margin-right: 10px;
    }

    /* Company Info */
    .company-info {
        margin-bottom: 20px;
    }

    /* Invoice Details */
    .invoice-details {
        margin-bottom: 30px;
        background-color: #fff; /* White background */
        color: #fdfafa; /* Darker text color */
        padding: 15px;
        border-radius: 10px;
    }

    /* Table */
    .table-bordered {
        border: 3px solid #1b1b1b; /* Lighter border */
        background-color: #fff; /* White background */
        color : #333;
    }

    .table-bordered thead th {
        border: 1px solid #ddd; /* Lighter border */
        background-color: #f2f2f2;
        color : #333;
    }

    .table-bordered tbody td {
        border: 1px solid #ddd; /* Lighter border */
        color : #333;
    }

    /* Footer */
    .invoice-footer {
        background-color: #f9f9f9;
        padding: 20px;
        border-radius: 0 0 10px 10px;
        border-top: 1px solid #ddd; /* Lighter border */
    }

    /* Print Button */
    .print-btn {
        margin-top: 20px;
    }

    .print-btn button {
        background-color: #0b519c; /* Blue button */
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .print-btn button:hover {
        background-color: #0a427a; /* Darker blue on hover */
    }

    /* Responsive Table */
    .table th,
    .table td {
        vertical-align: middle;
    }

    .table th {
        font-weight: bold;
    }

    .table th.bg-light,
    .table td.bg-light {
        background-color: #f2f2f2;
        color: #333;
    }

    .table th,
    .table td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    .small-table {
        width: 50%;
        font-size: 0.8rem;
        background-color: #fff;
    }

    .small-table th,
    .small-table td {
        padding: 0.5rem;
    }

    /* Responsive Layout */
    @media print {
        

        .print-btn,
        .copyright {
            display: none;
        }

        .table-bordered,
        .table-bordered thead th,
        .table-bordered tbody td {
        border: 2px solid #000; /* Change to desired border color */

       
    }

    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="invoice-container">
                <div class="invoice-header">
                   <h4 style="color: #0b519c;">Bon de commande N° {{ obj.commande_number }}</h4>

                </div>
                <br>
                <div class="company-info text-center mb-4">
                    <img src="{% static 'images/logo2.jpg' %}" alt="BRUMARTEX" class="invoice-logo">
                    <h2>BRUMARTEX SARL AU</h2>
                    <p>IMPORT-EXPORT | SECOND HAND CLOTHES | FRIPERIE</p>
                </div>
                <br>
                
                <div class="invoice-details mb-4">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Zone franche ilot N116 module N10, Tanger 90090, Maroc</p>
                            <p>Email: brumartex.logistique@gmail.com</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Destinataire :</strong> <br><strong> {{ obj.customer.name }}</strong></p>
                            <p><strong></strong> {{ obj.customer.address }}, {{ obj.customer.city }}</p>
                        </div>
                    </div>
                </div>

                <div class="invoice-details mb-4">
                    <div class="table-responsive">
                        <table class="table table-bordered small-table">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>       
                                    <td>{{ obj.commande_date_time|date:"d-m-Y" }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="table-responsive mt-4">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Ref</th>
                                <th>Designation</th>
                                <th>Poids/Kg</th>
                                <th>Quantité</th>
                                <th>Prix/Kg HT</th>
                                <th>Montant HT</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in commandes %}
                            <tr> 
                                <td>{{ item.ref }}</td>
                                <td>{{ item.designation }}</td>
                                <td>{{ item.Poids }}</td>
                                <td>{{ item.Qt }}</td>
                                <td>{{ item.Prix }}</td>
                                <td class="montant-ht-cell">{{ item.get_Montant | floatformat:"2"  }} DH</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="text-end">Total HT</td>
                                <td>{{ obj.Total_HT }} DH</td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-end"><strong>Total TTC</strong></td>
                                <td><strong>{{ obj.Total_TTC }} DH</strong></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="invoice-footer">
                    <p><strong>RC:91091-TP:52900494-IF:26110455-ICE:002081133000054-CNSS:1099247 ATTIJARI INTERNATIONAL BANK. RIB 605.640.00001.00000002971.46 <br> CODE SWIFT AIBSMAMT</strong></p>
                </div>

                <div class="print-btn text-center">
                    <button class="btn btn-light" onclick="window.print()">
                        <i class="fas fa-print"></i> Imprimer la commande
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
